/bootstrap/compiled.php
vendor/*
!vendor/wardrobe/
vendor/wardrobe/core/*
!vendor/wardrobe/core/src/
!vendor/wardrobe/core/public/
vendor/wardrobe/core/public/themes/
vendor/wardrobe/core/src/*
!vendor/wardrobe/core/src/Wardrobe/






composer.phar
.DS_Store
/node_modules
app/tests