/bootstrap/compiled.php
vendor/*
vendor/wardrobe/*
vendor/wardrobe/*/*
vendor/wardrobe/*/*/*
vendor/wardrobe/*/*/*/*
vendor/wardrobe/*/*/*/*/*
!vendor/wardrobe/core/src/Wardrobe/Core/Controllers/*
composer.phar
.DS_Store
/node_modules
app/tests